.projectImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 380px;
    object-fit: cover;
    border-radius: 10px;
}

.custom-list {
    margin-top: 1.5em;
    list-style-type: square;
    /* Use disc as the list item marker */
    padding-left: 20px;
    /* Adjust the left padding as needed */
    font-size: clamp(12px, 2vw, 15px)
}

.ExperienceTitle span {
    color: var(--color-info-lighter);
    font-size: clamp(12px, 1.5vw, 15px);
}