.bioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    gap: 0;
    margin: 1.4rem 0;
}



.title {
    color: #ffffff;
    font-weight: 700;
    font-size: 55px;
    line-height: 62px;
    margin-bottom: 22px;
    font-family: var(--font-secondary);
}

.titleHighlight {
    color: var(--color-primary)
}

.bioBody {
    color: var(--color-lightn);
    text-align: left;
    font-size: 18px;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-image: url('https://via.placeholder.com/400x200'); */
    background-image: url('../../assets/Grad Pic 1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1rem;
    /* Adjust the margin as needed */
}