.mediaWrapper {
    position: relative;
    margin: 2rem 0 5.5rem 0rem;
    border-radius: 10px;
}

.mediaWrapper .splide__arrows {
    position: absolute;
    right: 0.7rem;
    bottom: -4.7rem;
}

.mediaWrapper .splide__arrows button {
    margin: 0;
    background-color: transparent;
    font-weight: 900;
    border: none;
    color: #1BA2DB;
    cursor: pointer;
    font-size: clamp(2.5rem, 5vw, 3rem);
}