@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.intro-spinner-container {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
    font-family: 'Roboto';
    color: #e5e5e5;
    font-size: max(1.85rem, 2vw);
    text-transform: uppercase;
    margin-bottom: 30px;

}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

@media only screen and (max-width: 1000px) {
    .intro-spinner-container {
        font-size: 2.3rem;
    }
}

.animation {
    height: 60px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    margin-bottom: 50px;
    display: inline-block;
}

.box {
    height: 50px;
}

.animation div:first-child {
    animation: text-animation 12s infinite;
}

.first div {
    background-color: #20a7d8;
}

.second div {
    background-color: #CD921E;
}

.third div {
    /* background-color: #c10528; */
    background-color: #169e04;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -100px;
    }

    30% {
        margin-top: -100px;
    }

    40% {
        margin-top: -200px;
    }

    60% {
        margin-top: -200px;
    }

    70% {
        margin-top: -100px;
    }

    80% {
        margin-top: -100px;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}