.logoBox {
    max-width: 75px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    position: relative;
    overflow: hidden;
}

.title-text span {
    color: var(--color-info-lighter);
    font-size: clamp(15px, 2.2vw, 19px);
}

.logo-and-title {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.title-text,
.title-text a {
    /* text-decoration: none; */
    color: var(--color-info);
    text-align: left;
    font-size: clamp(18px, 3vw, 21px);
}

.technologies-text {
    text-align: left;
    font-size: clamp(12px, 2vw, 17px);
    margin-top: 5px;
    font-weight: 300;
    color: #999999;
    text-wrap: balance;
}