.logoBox {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.custom-list {
    list-style-type: square;
    /* Use disc as the list item marker */
    padding-left: 20px;
    /* Adjust the left padding as needed */
    font-size: 15px;
}