.logoBox {
    max-width: 75px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    position: relative;
    overflow: hidden;
}

.custom-list {
    list-style-type: square;
    /* Use disc as the list item marker */
    padding-left: 20px;
    /* Adjust the left padding as needed */
    font-size: clamp(12px, 2vw, 15px)
}

.logo-and-title {
    display: flex;
    gap: 30px;
    align-items: center;
}

.title-text {
    /* text-decoration: none; */
    color: var(--color-info);
    text-align: left;
    font-size: clamp(18px, 3vw, 21px);
}

.technologies-text {
    text-align: left;
    font-size: clamp(15px, 3vw, 18px);
    margin-top: 5px;
    margin-left: clamp(1px, 3vw, 15px);
    font-weight: 300;
    color: #fff;
    text-wrap: balance;
}