.testimonialWrapper {
    margin: 2rem 0 3.5rem 0rem;
}

.testimonialCard {
    min-height: 25rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.testimonialCard img {
    border-radius: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialCard p {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #000000;
}

.testimonialGradient {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.splide__arrows {
    position: absolute;
    right: 0.7rem;
    bottom: -4.7rem;
}

.splide__arrows button {
    margin: 0;
    background-color: transparent;
    font-weight: 900;
    border: none;
    color: #1BA2DB;
    cursor: pointer;
    font-size: clamp(2.5rem, 5vw, 3rem);
}