.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color-2);
    text-align: center;
}

.not-found-container h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;

}

.home-link {
    font-size: 1rem;
    color: #0594c9;
    text-decoration: none;
    border: 2px solid #0594c9;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-link:hover {
    background-color: #20a7d8;
    color: #fff;
}