/* Content Styles */
.content {
    /* margin-bottom: 4em; */
}

.content p {
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
    /* padding: 4px 2px; */
}

/* Underline Styles */
.v1 p {
    background-position: bottom left;
    background-size: 0% 5px;
    background-image: linear-gradient(var(--red), var(--red));
    padding-bottom: 5px;
}

.v1:hover p {
    background-size: 100% 5px;
}

/* Highlight Styles */
.v2 p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(var(--color-info), var(--color-info));
}

.v2:hover p {
    background-size: 100% 100%;
    color: #fff;
}

/* Spoilers Styles */
.v3 p {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(var(--grey), var(--grey));
}

.v3:hover p {
    color: black;
    background-size: 0% 100%;
}

/* Dashes Styles */
.v4 p {
    --thickness: 3px;
    background-position: bottom left;
    background-size: 0% var(--thickness);
    background-image: repeating-linear-gradient(to right,
            var(--purple) 0 var(--thickness),
            transparent 0 calc(2 * var(--thickness)));
    padding-bottom: var(--thickness);
}

.v4:hover p {
    background-size: 100% var(--thickness);
}

/* Deleted v1 Styles */
.v5 p {
    --thickness: 3px;
    background-position: center left;
    background-size: 100% var(--thickness);
    background-image: linear-gradient(to right, black, black);
    padding-bottom: var(--thickness);
}

.v5:hover p {
    background-size: 100% 100%;
    color: white;
    background-image: linear-gradient(to right, var(--red), var(--red));
}

/* Deleted v2 Styles */
.v6 p {
    --thickness: 4px;
    background-position: center left;
    background-size: 100% var(--thickness);
    background-image: linear-gradient(to right, black, black);
    padding-bottom: var(--thickness);
}

.v6:hover p {
    background-position: bottom left;
    background-size: 100% calc(var(--thickness) / 2);
    font-style: italic;
}

/* Crazy Styles */
.v7 p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, var(--yellow), var(--yellow));
}

.v7:hover p {
    background-position: right;
    background-size: 100% 100%;
}

/* Swipe Styles */
.v8 p {
    --thickness: 4px;
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, #9ae6b4, var(--yellow));
    padding-bottom: var(--thickness);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.v8:hover p {
    background-size: 100% 100%;
}