.App {
  text-align: center;
  background-color: var(--background-color-2);
  color: white;
  display: flex;
  padding: 3vw 5vw;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  /* background-color: black; */
  flex: 1;
  margin: 0 2vw 0;
  height: 80vh;
}

.button {
  display: inline-block;
  padding: 15px 35px;
  color: var(--color-primary);
  font-size: var(--font-size-b1);
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  position: relative;
  z-index: 2;
  font-weight: 600;
  border: 0 none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(145deg, #121416, #1c1f22);
}

.button:active {
  background: linear-gradient(145deg, #121416, #1c1f22);
  box-shadow: 0 5px #464646;
  transform: translateY(4px);
}

@media only screen and (max-width: 900px) {
  .App {
    flex-direction: column;

  }

  .boxContainer {
    margin: 2vw;
    width: 90vw;
  }
}